<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655907992765-vjek152b2o4c7dm8pd5qbv3qha62v9vf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655907992765-vjek152b2o4c7dm8pd5qbv3qha62v9vf</string>
	<key>API_KEY</key>
	<string>AIzaSyCXA3uGPJaWp8RItMSxeJa-pNH_7cVDxvk</string>
	<key>GCM_SENDER_ID</key>
	<string>655907992765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paulolazarini.testSantander</string>
	<key>PROJECT_ID</key>
	<string>testsantander-115a9</string>
	<key>STORAGE_BUCKET</key>
	<string>testsantander-115a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655907992765:ios:5a896d3c5b295677dcb3d4</string>
</dict>
</plist>